[Unit]
Description=aggmon monitoring and aggregation infrasturcture
Documentation=man:foo(1)
Requires=network.target
Wants=mongodb.service

[Service]
Type=simple

EnvironmentFile=-/etc/sysconfig/aggmon
Environment=agg_configdir=/etc/aggmon
ExecStart=/usr/bin/agg_control -g $GROUP -c $CONFIGDIR
ExecStop=/usr/bin/agg_cmd -C control -H monnodes:/localhost raw quit

[Install]
WantedBy=multi-user.target

